/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
background: linear-gradient(to bottom, #141e30, #243b55); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff; 
}

/* Login Container */
.login-container {
  width: 400px;
  padding: 40px 30px;
  /* background-color: #1c1c1c;  */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
  text-align: center;
}

/* Logo */
.login-logo {
  width: 100px;
  margin: 0 auto 20px;
}

/* Header */
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* Error Message */
.error-message {
  color: #e74c3c;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

/* Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  text-align: left;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color:  #444;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: #2c2c2c;
  border: 1px solid #444;
  border-radius: 8px;
  color: #444;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Login Button */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #e74c3c;
  /* color: #fff; */
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #c0392b;
}

/* Social Buttons */
.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-button {
  width: 48%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.social-button.facebook {
  background-color: #3b5998;
  color: #fff;
}

.social-button.twitter {
  background-color: #1da1f2;
  color: #fff;
}

.social-button:hover {
  opacity: 0.9;
}

/* Link Style */
.forgot-password {
  margin-top: 15px;
  font-size: 14px;
  color: #bbb;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
